.main{
    width: 100%;
    font-family: "微软雅黑";
    height: 1750px;
}
.link{
    width: 100%;
    height: 36px;
    float: left;
    line-height: 38px;
}
.link p{
    margin-left: 5px;
}
.goods_information{
    width: 1190px;
    height: 500px;
}
.pic_info{
    width: 400px;
    height: 400px;
    float: left;
}
.pic_top{
    width: 350px;
    height: 350px;
    padding: 8px;
    border: 1px solid#ccc;
}
.pic_top img{
    width: 350px;
    width: 350px;
}
.pic_bottom{
    width: 60px;
    height: 60px;
    border: 1px solid#ccc;
    padding: 3px;
    margin-top: 5px;
}
.pic_bottom img{
   width: 60px;
   height: 60px;
}
.txt_info{
    width: 700px;
    float: left;
    margin-left: 20px;
}
.txt_info p{
    line-height: 20px;
}
.price img{
    margin-top: 20px;
}
.amount{
    width: 743px;
    height: 60px;
    border: 1px solid#ccc;
}
.adv img{
    margin-left: 570px;
}
.buy img{
    margin-left: 10px;
}
.goods_detail{
    width: 100%;
    height: 1000px;
    margin-top: 60px;
}
.detail_left{
    width:210px;
    height: 220px;
    border: 1px solid#ccc;
}
.left_top{
    width: 210px;
    height: 36px;
    background: #eaeef9;
}
.left_top p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 36px;
}
.left_bottom{
    width: 210px;
    height: 210px;
}
.left_bottom img{
    width: 120px;
    height: 100px;
    margin-left: 40px;
}
.left_bottom p{
    font-size: 14px;
}
.price{
    color: #ad0100;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}
.detail_right{
    width: 900px;
    margin-top: -220px;
    margin-left: 230px;
}